@import "src/styles/variables";

.app-layout {
  h1 {
    color: $cDarkgray;
  }

  &__actions {
    gap: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__list {
    max-height: calc(100vh - 275px);
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
  }

  &__form {
    margin-bottom: 16px;
  }
}

